<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tk.mapper.CompanyMapper">

    <insert id="insertOrUpdate" parameterType="com.example.tk.entity.Company" >
        INSERT INTO biz_company(`name`,production_date,employee)
        VALUES (#{name},#{productionDate},#{employee})
        ON DUPLICATE KEY UPDATE employee=VALUES(employee)
    </insert>


</mapper>